.spectrum-Accordion-item {
  border-bottom: 1px solid var(--spectrum-global-color-gray-300);
}

.spectrum-Accordion-itemHeading {
  padding: var(--spectrum-global-dimension-size-200) 0;
  cursor: pointer;
}

.spectrum-Accordion-itemContent {
  padding: var(--spectrum-global-dimension-size-200) 0;
}